.header {
  background-color: #AFFD;
  display: flex;
  flex-direction: row-reverse;
}

#h1 {
  margin: auto;
}

/* header images */
#image {
  margin: 2%;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

/* banner */
.banner {
  width: 95%;
  margin: 1% auto;
}

/* banner image */
.bannerImage {
  max-width: 100%;
}

/* main with all images */
.main {
  width: 95%;
  display: flex;
  padding: 1em;
  margin: 1% auto;
  justify-content: space-around;
  flex-wrap: wrap;
}

.b {
  border: 1px solid #DDD;
  box-shadow: 0px 6px 6px -6px black;
  padding: 1em;
  margin: 2%;
}

/* paragraph */
.para {
  font-family: verdana, sans-serif;
  width: 95%;
  margin: auto;
}

/* footer */
.footer {
  text-align: center;
  background-color: #999966;
}

/* Media Queries for mobile view */
@media only screen and (max-width:480px) {
  .main {
    display: flex;
    flex-direction: column-reverse;
  }

  .para {
    width: 80%;
  }
}

/* Media Queries for TAb view */
@media only screen and (min-width:480px) and (max-width:780px) {
  .main {
    display: flex;
  }

  .para {
    width: 90%;
  }
}
